.header-container {
  color: white;
}

.top-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #48c781;
}

.top-title img {
  width: 4rem;
}

@media only screen and (min-width: 768px) {
  .top-title img {
    width: 0rem;
  }
}

.top-title>h3 {
  font-weight: 600;
}

.start-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.logo-header {
  display: grid;
  padding-left: 3rem;
  padding-right: 3rem;
  color: white;

  grid-template-columns: 1fr;
  /*grid-template-rows: 1fr 1fr;*/
}

@media only screen and (min-width: 768px) {
  .logo-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
}

.header-title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  text-align: center;
}

@media only screen and (min-width: 768px) {
  .header-title {
    text-align: left;
  }
}

.center-table {
  display: table;
}

.center-table h5 {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
}

.logo {
  margin: 0 auto;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.logo img {
  visibility: hidden;
  height: 0;
  width: 10rem;
}

@media only screen and (min-width: 768px) {
  .logo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .logo img {
    visibility: visible;
    height: auto;
  }
}

.start-container a {
  background-color: #48c781 !important;
}

.start-container input {
  color: white;
}

.description-section {
  margin-top: 3rem;
  padding: 3rem;
  min-height: 23rem;
  display: flex;

  background-color: #48c781a1;
  -webkit-box-shadow: 0px -1px 13px 1px rgba(34,46,35,1);
  -moz-box-shadow: 0px -1px 13px 1px rgba(34,46,35,1);
  box-shadow: 0px -1px 13px 1px rgba(34,46,35,1);
}

.description-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.description-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description-item>img.icon {
  width: 4rem;
}

.description-item>h6 {
  color: white;
}

.description-item>p {
  color: black;
}

.dark-button {
  background-color: #171426 !important;
}

.give-a-try {
  display: flex;
  justify-content: center;
}

.end {
  height: 10rem;
  margin-top: 5rem;
  background-color: #171426a1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.credit {
  color: white;
}
