.rounded {
  border-radius: 1000px;
}

body {
  background-color: #475570;
  background-color: #475570;
  background-image: url("/static/images/whatsapp-background.jpg");
  background-blend-mode: multiply;
}

nav {
  /*background-color: #48c781;*/
  background-color: rgba(0,0,0,0);
  box-shadow: none;
}

.app {
  /*background-image: url("/static/images/whatsapp-background.jpg");
  background-blend-mode: multiply;*/
}

@media only screen and (min-width: 768px) {
  .middle {
    max-width: 800px;
    margin: 0 auto;
  }
}
